
.wrapper-main{
  background-image: url("../../img/0003_ihrovi-komp_yutery.jpg");
  width: 100%;
  height:900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
position: relative;
}
.element-left{
  background: #535bf2;
  border:  2px solid #535bf2;
  display: inline-block;
  padding: 3% 10%;
  border-radius: 50px;
  box-shadow: 10px 4px 10px 4px #009ce9;
  position: absolute;
left: 10%;
  top: 10%;

  &_text{
    color: white;
    font-size: 32px;
    &:last-of-type {
      padding-left: 20px;
    }


  }
  &_title{
    font-size: 72px;
    color: white;
    padding: 30px 0 30px 10px;
  }
}

.btn-left{
  margin-top: 40px;
}
.wow{
  padding:30px 70px;
  border-radius: 90px;
  transition: 2s;
  box-shadow: 5px 1px 5px 1px #242424;
  font-size: 25px;
  &:hover{
    border-radius: 10px;
    background: #535bf2;
    border: 2px solid orange;
    box-shadow: 4px 5px 4px 1px orange  ;
    transition: 1s;
  }
}
.img-right {
  background-image: url("../../img/neonovyy-fon-dlya-fotoshopa.jpg");
  position: absolute;
  width: 800px;
  height: 1100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 55%;
  top: 10%;
  border-radius: 50px;
  box-shadow: 0 3px 6px 5px #242424;
}
.product-center{
  background-color: #242424;
  padding-top: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  &_text{
    font-size: 72px;
    color: orange;
  }

}