.swiper {
  width: 700px;
  height:500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide .all-img-card {
  display: block;
  width: 200px;
  height: 100%;
}
.img-sm-24{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 70px;
  z-index: -100;
  right: 10px;
}

.product-wrap{
  font-size: 18px;
  color: whitesmoke;
  border-radius: 20px ;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;

  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    transform: skewY(345deg);
    position: absolute;
    top: -80%;
    transition: 3s;
  }
  &:hover:before{
    transform: skewY(-200deg);
    top: 0;
    transition: 3s;
  }
}
.h2{
  font-size: 20px;
}
.product-wrap {
  text-align: center;
  margin: 0 auto;
}
.product-image {
  position: relative;
  overflow: hidden;
}
.product-image a {
  display: block;

}
.shadow {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease-in-out;
  overflow: hidden;
  }
.product-wrap:hover .shadow {
  opacity: 1;
  border-radius: 20px;
  overflow: hidden;
}
.detail-link {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  border-radius: 3px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: .3s ease-in-out;
}
.pop *{
  width: 40px;
  height: 40px;
  top: 10px ;
  fill: orange;
  transition: .5s;
}
.pop.selected *{
  fill: yellow;
}
.add-to-cart{
  background: green;
}
.add-to-cart.selected{
  background: red;
}

.sup{
  position: absolute;
  top: 3px;
  left: 3px;
  box-shadow: 10px 10px 10px 10px black;
}

.product-wrap:hover .detail-link {
  opacity: 1;
  top: 50%;
}
.actions {
  width: 100%;
  height: 47px;
  position: absolute;
  bottom: -47px;
  right: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;

}
.product-wrap:hover .actions {
  bottom: 0;
  opacity: 1;
}
.actions-btn {
  display: inline-block;
  width: auto;
  height: 47px;
  line-height: 60px;
  text-decoration: none;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.add-to-wishlist,
.add-to-compare{
  background: darkgrey;
}
.add-to-cart:hover,
.add-to-wishlist:hover,
.add-to-compare:hover{
  background-color: rebeccapurple;
  transition: 1s;
  box-shadow: 200px 200px 200px 200px blue;

}

.pop:hover *{
transition: .5s;
  fill: plum;
  box-shadow: 100px 100px 100px 100px black;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', serif;
}
.product-list h3 {
  color: whitesmoke;
  font-size: 20px;
}
.price {
  font-weight: bold;
  font-size: 18px;
  color: #ff7659;
}
.art{
  color: whitesmoke;
  font-size: 24px;
  display: flex;
  gap: 20px;
}

.open-data{
  width: 30px;
  height: 30px;
}