@import url('./reset.scss');
@import url('./container.scss');
//@import url('./layout/pages.scss');

.g-page {
	padding: 48px 0;
	box-sizing: border-box;
}

.g-title {
	position: relative;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 32px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -12px;
		left: 0;
		width: 16%;
		height: 6px;
		border-radius: 6px;
		background-color: #afaeae;
	}
}
