.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: dimgrey;
  border-radius: 4px;

  .modal-header {
    margin-bottom: 24px;
    font-size: 36px;
  }


  .modal-content {
    color: lightskyblue;
    font-size: 15px;
  }

  .modal-footer {
    margin-top: 24px;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.photo{
display: flex;
  justify-content: center;
  align-items: center;
&_width{
  padding-top: 50px;
  width: 500px;
  background-position: center;
  background-size: cover;

}
}