.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;

}
