.ti-ser{
  font-size: 22px;
  color: orange;
}
.header-pos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  &_beet{
    display: flex;
    gap: 100px;
    color: orange;
    font-size: 16px;
 }
  &_list{
    line-height: 50px;

  }
}

.wrapper-header{
  background-color: #242424;
  padding: 40px;
}
.source{
  width: 40px;
  height: 40px;
}
.pop{
  width: 40px;
  height: 40px;
}
.about-fav{
  display: flex;
  gap: 50px;
}
